html, body, .wrapper {
    height: 100%;
}
.wrapper {
    z-index: 1;
    background: url("/static/img/background.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}
.wrapper:after {
    z-index: 2;
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: inherit;
    filter: blur(4px);
}
.bg,
.placeholder,
.mdui-card {
    background: rgba(0,0,0,0.2);
}
.mdui-card-actions,
.card-content{
    background: #fff;
}
.card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    z-index: 10;
}
#logo {
    width: 100px;
    height: 100px;
}